footer{
  width: 10.8rem;
  background-color: #000;
  position: fixed;
  bottom: 0;
  height: 1.45rem;
  z-index: 999;
  display: flex;
  justify-content: space-around;
}
footer a{
  width: 2rem;
  height: 2rem;
}
footer img{
  width: 2rem;
  height: 2rem;
  display: block;
  margin-top: -0.2rem;
}