*{
  margin: 0;
  padding: 0;
}
header{
  width: 10.8rem;
  background-image: url('../images/home/u151.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  height: 1.75rem;
  position: fixed;
  top: 0;
  z-index: 999;
}