html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
section{
  margin-top: 1.75rem;
}
.swiper-container {
  width: 100%;
}

.swiper-container img {
  width: 100%;
  display: block;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  width: 0.1rem;
  height: 0.1rem;
}

.swiper-pagination-bullet-active {
  background-color: red;
}
.swp2>.swiper-wrapper>.swiper-slide>a>img{
  width: 100%;
  display: block;
}
.swp2 {
  margin: 0.14rem 0 0.14rem 0;
  overflow: hidden;
}
.zzzc{
  display: block;
  width: 10.8rem;
}
.swp3>.swiper-wrapper>.swiper-slide>a{
width: ;
}
.swp2>.swiper-wrapper>.swiper-slide>a{
  width: ;
  }
.swp3>.swiper-wrapper>.swiper-slide>a>img{
  width: ;
  display: block;
}
.swp3>.swiper-wrapper>.swiper-slide>{
  height: 5.3rem;
}
.main{
  background-color: #fff;
}
.down{
  padding-bottom: 1.45rem;
}
.dw{
  position: relative;
}
.dw>div{

  position: absolute;
  width: 5.4rem;
  height: 1rem;
  /* background-color: #fff; */
  top: 0;
  right: 0;
  z-index: 999;
}
.down>div{
  display: flex;
  width: 21.6rem;
  transition: all 0.5s linear;
}
.down{
  overflow: hidden;
}
.zzjj{
  display: flex;
  overflow: hidden;
  transition: all 0.5s linear;
}
.dw>.le{

  position: absolute;
  width: 5.4rem;
  height: 1rem;
  /* background-color: #fff; */
  top: 0;
  left: 0;
  z-index: 999;
}
.main1>div{
  width: 10.8rem;
}
.main1>div>a{
  width: 10.8rem;
  display: block;
  margin-bottom: 0.1rem;
}
.main1>div>a>img{
  width: 10.8rem;
  display: block;
}
.main2>div{
  width: 10.8rem;
}
.main2>div>a{
  width: 10.8rem;
  display: block;
  margin-bottom: 0.1rem;
}
.main2>div>a>img{
  width: 10.8rem;
  display: block;
}