section{
  margin-top: 1.75rem;
}
section>div:nth-child(1){
  width: 10.8rem;
  overflow: hidden;
  position: fixed;
  top: 1.75rem;
  z-index: 999;
}
.zhanwen{
  width: 21.6rem;
  display: flex;
}
.zhan{
  background-image: url('../images/recommend/u300.jpg');
  background-repeat: no-repeat;
  width: 10.8rem;
  height: 0.87rem;
  background-size: 100%;
}
.zhan>div{
  width: 5.4rem;
  margin-left: 5.4rem;
  height: 0.87rem;
  /* background-color: #fff; */
}
.wen{
  background-image: url('../images/recommend/u302.jpg');
  background-repeat: no-repeat;
  width: 10.8rem;
  height: 0.87rem;
  background-size: 100%;
}
.wen>div{
  width: 5.4rem;
  height: 0.87rem;
  /* background-color: #fff; */
}
.down>div{
  display: flex;
  width: 21.6rem;
}
.one{
  width: 10.8rem;
  margin-top: 2.6rem;
  margin-bottom: 1.15rem;
  height: 17rem;
  
}
.one>img{
  width: 10.8rem;
}
.main{
  width: 10.8rem;
  display: flex;
  /* overflow: hidden; */
}
.two{
  width: 10.8rem;
  margin-top: 2.6rem;
  margin-bottom: 1.15rem;
}
.two>img{
  width: 10.8rem;
}