section{
  margin-top: 1.75rem;
}
section>div:nth-child(1){
  width: 10.8rem;
  overflow: hidden;
  position: fixed;
  top: 1.75rem;
  z-index: 999;
}
.zhanwen{
  width: 21.6rem;
  display: flex;
}
.zhan{
  background-image: url('../images/recommend/u300.jpg');
  background-repeat: no-repeat;
  width: 10.8rem;
  height: 0.87rem;
  background-size: 100%;
}
.zhan>div{
  width: 5.4rem;
  margin-left: 5.4rem;
  height: 0.87rem;
  /* background-color: #fff; */
}
.wen{
  background-image: url('../images/recommend/u302.jpg');
  background-repeat: no-repeat;
  width: 10.8rem;
  height: 0.87rem;
  background-size: 100%;
}
.wen>div{
  width: 5.4rem;
  height: 0.87rem;
  /* background-color: #fff; */
}
.down>div{
  display: flex;
  width: 21.6rem;
}
.one{
  width: 10.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.one>a>img{
  width: 10.8rem;
}
.one>a{
  width: 10.8rem;
}
.main{  
  display: flex;
  overflow: scroll;
  height: 19rem;
  transition: all 0.5s linear;
}
.two{
  width: 10.8rem;
  overflow: scroll;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
.two>a>img{
  width: 10.8rem;
}
.two>::after{
  width: 10.8rem;
}